@import "tailwindcss";

@layer base {
    h1 {
        color: gray;
        background: url("../image_visualization/bg_data.jpg");
    }
    li {
        @apply my-5
    }
    img {
        @apply my-5
    }
    h2 {
        font-weight: bold;
        font-size: larger;
    }
}